html {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    max-width: 60rem;
    margin-top: 2rem;
    font-family: Georgia, serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#index-top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


#top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 5rem;
}

#top div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#top div:first-child a {
    text-decoration: none;
}

#top div:first-child a::before {
    content: '\276E';
    margin-right: 0.5rem;
}

#top img {
    height: 5rem;
    width: auto;
    margin-left: 15rem;
}

h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 3em;
}

h2 {
    margin-top: 2rem;
    text-decoration: underline;
}

h3 {
    margin-top: 1.75rem;
    margin-bottom: 0.75rem;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.images img {
    max-height: 25rem;
    width: auto;
}

#flag {
    height: 15rem;
}

#flag img {
    max-height: 15rem;
    width: auto;
}

#world-map {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#toc-h2 {
    margin-top: 0;
}

#toc\+flag {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}